.btn-toTop {
    position: fixed;
    bottom: 25px;
    font-size: 3.5rem;
    z-index: 1;
    cursor: pointer;
    color: rgb(142, 145, 142);
    right: 2%;
    background: none;
    border-radius: 40px;
    padding: 0px;
    border: none;
    opacity: 0.8;
}