.toTop {
    position: fixed;
    bottom: 13px;
    font-size: 3.5rem;
    z-index: 1;
    cursor: pointer;
    color: rgb(142, 145, 142);
    right: 2%;
    background: none;
    border-radius: 40px;
    border: none;
    opacity: 0.8;
    animation-name: fade-in;
    animation-duration: 1s;
}
@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media screen and (max-width: 650px){
    .toTop{
        font-size: 2.8rem;
    }
}