.btn_loader {
    font-size: 3.5rem;
    z-index: 1;
    color: rgb(142, 145, 142);
    border-radius: 40px;
    background: none;
    padding: 0px;
    border: none;
    margin: 0 auto;
    display: block;
    bottom: 13px;
}